
.list-container{
    width: 90%;

    button{
        background-color: #349F8B;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color:white;
        
    }
    .form-control::placeholder {
        color: #959595;
      }
    .search-result{
        font-family: 'Poppins';
        color: #959595;
        font-size: 12px;
    }
    th{
        color: #6B7280;
        font-size: 14px;
        font-size: "Poppins";
        font-weight: 400;
    }
    td{
        color: black;
        font-weight: 400;
        font-family: 'Poppins';
        font-size: 14px;
    }
    td.date{
        color:#8E95A2;
    }
}
